{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    Редактировать объявление
{% endblock %}

{% block content %}
    <section class="p-5" style="background: #fff; border-radius: 6px; box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);">
      <h1 class="h2 mb-4 font-weight-bold">Редактировать объявление</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group">
              {{ form.description|as_crispy_field }}
            </div>
            <div class="form-group">
              {{ form.address|as_crispy_field }}
            </div>
            <div class="form-group">
              {{ form.phone|as_crispy_field }}
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
                {{ form.img|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.price|as_crispy_field }}
            </div>
                {{ form.for_sale|as_crispy_field }}
            <div class="form-group">
              {{ form.seller|as_crispy_field }}
            </div>
            <div class="form-group">
              {{ form.pin_code|as_crispy_field }}
            </div>
          </div>
          <div class="col-12">
            <input type="submit" class="btn btn-warning px-5 py-3 mt-3" value="Сохранить">
          </div>
        </div>
      </form>
    </section>
  {% endblock %}